<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/action/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>locale</filter-name>
        <url-pattern>/action/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>errorFilter</filter-name>
        <url-pattern>/WEB-INF/jsp/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>action/home</welcome-file>
    </welcome-file-list>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.mv.schelokov.carent.listeners.WebAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.mv.schelokov.carent.controller.CarRentAppController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>locale</filter-name>
        <filter-class>com.mv.schelokov.carent.filters.LocaleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.mv.schelokov.carent.filters.EncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>errorFilter</filter-name>
        <filter-class>com.mv.schelokov.carent.filters.ErrorFilter</filter-class>
    </filter>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/jsp/error_page.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/error_page.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error_page.jsp</location>
    </error-page>
</web-app>
